[2019-05-30 07:07] bencmbrook opened #17 "Offload decryption to Worker"
Fetching, decrypting, zipping, and saving will start to get really slow when we start incorporating large files.

This is because (A) Safari doesn't support WriteStreams and (B) JSZip reads files into a Blob (i.e. fully into memory) rather than a stream.

I'm working on a streaming zip alternative based on [this issue](https://github.com/eligrey/FileSaver.js/issues/558) (~which might encourage the

[2019-06-04 07:04] michaelfarrell76 opened #19 "Helper functions for download content to string non-encrypted"
Same logic for fetch to src or string for non-encrypted files may be useful as the helper functions can be shared

[2019-06-24 21:33] bencmbrook opened #16 "Check authentication tag in penumbra"
Right now we're skipping the authtag verification step, which is a tiny security flaw, because it doesn't verify the signature (see step 3 below), meaning Transcend could tamper with the encrypted bytes passed through (which, worst case, just breaks the file).

All we need to do is:
1. [set the authtag on the decipher object](https://nodejs.org/api/crypto.html#crypto_decipher_setauthtag_buffer). T

[2019-07-02 22:46] bencmbrook opened #21 "Switch function args to object options"
These ordered arguments that are getting too long. Time for an options object.

<img width="425" alt="Screen Shot 2019-07-02 at 3 41 17 PM" src="https://user-images.githubusercontent.com/7354176/60551579-994bcd80-9ce0-11e9-980f-f6ed5d047ace.png">

[2019-07-03 00:17] bencmbrook opened #23 "Future of downloadEncryptedFile and getDecryptedContent"
Right now Penumbra bundles StreamSaver.js and implements a download function and a display function.

Should Penumbra be just about returning a ReadableStream of deciphered data? After all, these ReadableStreams are what we'd want to use as input to [conflux](https://github.com/transcend-io/conflux)..

`fetchAndDecipher` is the bread and butter of Penumbra. The repo description is "Fetch and decry

[2019-07-08 21:06] bencmbrook opened #24 "Clean up resource hints"
@eligrey

[code]

_Originally posted by @eligrey in https://github.com/transcend-io/penumbra/pull/20_

@bencmbrook:

[code]

[2019-07-09 04:59] #21 closed, assigned to eligrey

[2019-07-09 04:59] #24 closed, assigned to eligrey

[2019-07-09 05:04] #19 closed, assigned to eligrey

[2019-07-09 16:20] bencmbrook opened #25 "Pull #20 broke the example"
- This likely implies that Penumbra is broken for all of 2.x -- premature merge of https://github.com/transcend-io/penumbra/pull/20?

- Build dir now looks like this which won't in browsers (it's probably fine for Transcend since we use Webpack to recompile it anyway)
![Screen Shot 2019-07-09 at 9 58 23 AM](https://user-images.githubusercontent.com/7354176/60908180-1a9ae700-a230-11e9-8359-314550d9

[2019-07-09 21:16] #25 closed, assigned to eligrey

[2019-07-09 22:32] bencmbrook opened #29 "Set up testing"
Should we use the same test stack as Conflux?
https://github.com/transcend-io/conflux/pull/19

[2019-07-10 02:05] eligrey opened #31 "Add tests"
We should add basic tests in penumbra and also consider integrating with heavier browser-based frameworks (like cypress) in the long-run.

[2019-07-10 02:08] eligrey opened #32 "Add benchmarks"
We should benchmark the time it takes to decrypt and download encrypted files. We still need to decide on a benchmarking framework.

[2019-07-10 19:49] #31 closed

[2019-07-10 19:49] eligrey commented on #29
Yeah, tape seems fine. I'm setting up testing now with tape.

[2019-07-11 21:16] eligrey commented on #23
I feel like the current state of the exported API is fine for my liking. Should we close this?

[2019-07-11 23:43] #29 closed

[2019-07-12 23:01] bencmbrook opened #42 "Penumbra 3.0 API"
The new API will incorporate [file zipping](https://github.com/transcend-io/conflux) and [saving](https://github.com/jimmywarting/StreamSaver.js) now, since we’re building everything to be streamable and all performed inside a Service Worker.

Maybe it's a chainable thing?
[code]

@giacaglia @eligrey

[2019-07-12 23:05] michaelfarrell76 commented on #42
Looks cool, probably a third method that would return the regular blob too yeah?

[2019-07-12 23:17] eligrey commented on #42
I concur with @michaelfarrell76.

Here's my envisioned API:

[code]

[2019-07-12 23:20] giacaglia commented on #42
Is there a difference between fetchManyAndDecrypt(resource]) and fetchAndDecrypt(resource)? Should it be two different methods? Having just one `fetchManyAndDecrypt` might simplify the API

Also `getTextOrURI` would return a string, should we include in the response if it is a URI or not?

@eligrey What would be the difference of `getBlob` and `getTextOrURI`

[2019-07-12 23:21] eligrey commented on #42
@giacaglia The main difference would be that `.save()` on `fetchManyAndDecrypt` would save a ZIP and saves just the individual file on `fetchAndDecrypt`.

[2019-07-12 23:46] michaelfarrell76 commented on #42
I think he was saying how can you differentiate it it the return value is the image uri or the result in plain text? Could be left to the implementor using the provided mimetypes but not sure

[2019-07-12 23:49] eligrey commented on #42
`fetchManyAndDecrypt(resources).getTextOrURI()` could return `{text:string|null, uri:string|null}` and expect the implementor to check which one is not null, or  make it easier with `{type:'text'|'uri', text:string|null, uri:string|null}`

[2019-07-12 23:49] giacaglia commented on #42
Yeah, either that or we can return a json with `type` and the `string` but that is not needed if we use the mimetype to differentiate

[2019-07-12 23:50] eligrey commented on #17
Using `Transferable`s alone (via Comlink) should be enough for our use cases. We won't have to use SharedArrayBuffer + Atomics.

I'm going to start expanding on the Comlink integration to see how close I can get the API to #42. My initial prototypes will use JSZip as conflux is still in development.

[2019-07-12 23:57] michaelfarrell76 commented on #42
Yeah either work for me. If it is Json I would prefer the text/data one but up to you as to whether we do object or string return type

[2019-07-13 01:03] eligrey commented on #42
I don't think we want to merge together one `ServiceWorker` for StreamSaver + decryption + zipping. By implementing each of these features as separate worker threads, we get increased concurrency and don't block decryption on zipping & compression.

Here's my proposed thread layout for penumbra:

- DOM thread 1 (privacy center context)
  - Initializes and orchestrates the three worker threads and

[2019-07-15 17:41] bencmbrook commented on #42
@eligrey we might consider matching the [Response methods](https://developer.mozilla.org/en-US/docs/Web/API/Response#Methods), or even return a Response object?

[2019-07-15 18:38] eligrey commented on #42
@bencmbrook: If we can return `Response` objects, then I think `getBlob()` should be replaced with `getResponse()`. API consumers can then call `await response.blob()` to load the response as a blob.

[2019-07-15 19:48] eligrey commented on #17
Since neither the zip or decryption workers need to be on a ServiceWorker, it seems best to create them dynamically using blob URLs. This will make using Penumbra easier in terms of configuration and distribution (one main thread file + one ServiceWorker file).

[2019-07-16 00:26] #23 closed

[2019-07-16 18:52] eligrey opened #44 "Port Node crypto to WebCrypto"
In order to reduce the worker script bundle size, we should look into porting our Node crypto usage to WebCrypto. This is a low priority task.

[2019-07-16 18:53] eligrey opened #45 "Webpack Penumbra Worker threads"
We should try to Webpack the Penumbra Worker threads. I'll close this issue once my 3.0 API PR lands.

[2019-07-16 20:17] eligrey opened #46 "Standardize a way to declare worker script locations"
We should standardize a way to declare worker script locations. We will have three worker scripts: one for decryption (implementing penumbra methods), one for zipping (through conflux), and one for streamsaver.

We have a few possible options:

1. Require that `./penumbra-decrypt.worker.js` and `./penumbra-zip.worker.js` are present wherever Penumbra is used. (we're going to do this by default if

[2019-07-16 20:20] michaelfarrell76 commented on #46
1-3 sound good to me

[2019-07-16 20:24] bencmbrook commented on #44
This might be useful when we do
https://github.com/mozilla/send/blob/master/app/serviceWorker.js#L117
https://github.com/mozilla/send/blob/master/app/serviceWorker.js#L117

[2019-07-16 20:50] eligrey commented on #46
I decided on 1-3, implemented as `penumbra.setWorkerLocation({dir?:URL|string, decrypt?:URL|string, zip?:URL|string})`, which is also auto-called using `JSON.parse(document.currentScript.dataset.workers)`.

[2019-07-16 21:41] bencmbrook opened #47 "Firefox crashes intermittently"
Some unsolicited testing: I was waiting for a call and had a few min so checked out the latest on Transcend and saw this new repo, so I gave it a try.

Downloading the patreon video crashed intermittently in Firefox. I couldn't capture a crash, but here's the performance profile and a screenshot. Are web workers being used in the demo?

<img width="1792" alt="Screen Shot 2019-06-07 at 3 28 38 PM"

[2019-07-16 21:41] bencmbrook opened #48 "Firefox crashes intermittently"
Some unsolicited testing: I was waiting for a call and had a few min so checked out the latest on Transcend and saw this new repo, so I gave it a try.

Downloading the patreon video crashed intermittently in Firefox. I couldn't capture a crash, but here's the performance profile and a screenshot. Are web workers being used in the demo?

<img width="1792" alt="Screen Shot 2019-06-07 at 3 28 38 PM"

[2019-07-17 23:55] eligrey commented on #42
I'm making the 3.0 API hook into the Workers through Comlink. In the meantime, I'll continue to expose the 2.0 API, which will not use Workers.

The only core API method exported would be `await penumbra.get(...resources: RemoteResource[]): PenumbraFileList`

I think that Penumbra's 3.0 API should look like this:

    import penumbra from '@transcend-io/penumbra';
    const files: PenumbraFileList

[2019-07-17 23:56] eligrey commented on #42
Also, for our initial implementation we will only support the `compression.store` compression level, and will throw an error for any other compression levels.

[2019-07-18 00:04] michaelfarrell76 commented on #42
cool looks great!

One note on the user of typescript enums. See #4 [here](https://medium.com/@martin_hotell/10-typescript-pro-tips-patterns-with-or-without-react-5799488d6680). People in general don't seem to like using typescript enums because of the confusing nature as to whether they are runtime accessible or not.

In general i have tried to to follow the paradigm:

1. Use string literal type

[2019-07-18 00:52] bencmbrook commented on #42
Love that API

[2019-07-26 09:26] eligrey opened #53 "Proxy in-worker progress events to main thread (v3)"

[2019-07-28 23:47] eligrey opened #55 "penumbra.setWorkerLocation() fails on subsequent calls"
The solution is to add `initialized = false` to the end of `cleanup()` in `src/workers.ts`. This will be fixed in my conflux integration branch.

[2019-07-31 18:37] #17 closed

[2019-07-31 18:37] #42 closed

[2019-07-31 18:37] #47 closed

[2019-07-31 18:37] #55 closed

[2019-07-31 18:37] #53 closed

[2019-07-31 19:02] bencmbrook opened #56 "getTextOrURI batch API"
I'd actually prefer to receive an array of promises, rather than a promise of an array. This allows us to display files as they're ready. The user can always call `Promise.all` if they want them all at once.

Current return:
`Promise<PenumbraTextOrURI[]>`

Proposed:
`Promise<PenumbraTextOrURI>[]`

This is as simple as returning the array rather than the `Promise.all` here
https://github.com/transc

[2019-07-31 19:03] bencmbrook opened #57 "Safari / Firefox compatibility"
Needs at least a writablestream polyfill

[2019-07-31 19:03] bencmbrook commented on #45
Is this closed by #54? @eligrey

[2019-07-31 20:20] awendland commented on #57
Error on Firefox
<img width="839" alt="Screen Shot 2019-07-31 at 1 19 43 PM 1" src="https://user-images.githubusercontent.com/1152104/62245177-e1b8e280-b395-11e9-9ebb-e034b7171c6f.png">

[2019-07-31 20:31] eligrey commented on #57
Browser support for the native WritableStream constructor:

[<img width="1037" alt="Screen Shot 2019-07-31 at 1 30 57 PM" src="https://user-images.githubusercontent.com/46995/62245935-7d971e00-b397-11e9-8141-47637aa6d036.png">](https://developer.mozilla.org/en-US/docs/Web/API/WritableStream/WritableStream#Browser_compatibility)

[2019-07-31 20:34] eligrey commented on #45
Yeah, this was closed by #54.

[2019-07-31 20:34] #45 closed

[2019-07-31 20:34] eligrey commented on #46
Closed by #54

[2019-07-31 20:34] #46 closed

[2019-08-01 04:59] michaelfarrell76 opened #61 "Tests running on CI"
not biggest deal in the world, but would nice to have the browser tests running on CI again

[2019-08-12 18:44] eligrey commented on #57
Fixing this today.

[2019-08-13 01:57] bencmbrook opened #64 "Discussion: support for saving locally to IndexedDB"
It would be cool if visitors to Privacy Centers with previous access requests can continue viewing their export, even after it's gone from our systems.

IndexedDB allows for Blob storage. Could be interesting.

(A) Is this a worthwhile feature?
(B) Does it belong here or in the Privacy Center code?

[2019-08-13 17:23] michaelfarrell76 commented on #64
hm not sure about this. feels to me like its outside the scope of penumbra. secondly, feels like a fair amount of work for something thats not really needed and not adding too much value. we would have to worry about

1. storage limitations to ensure we aren't try to store massive files here
2. the UX experience -- say i do an access request, it stores the data, then i perform an erasure and then

[2019-08-13 19:11] bencmbrook commented on #64
Agreed - at best it's a distant feature

[2019-08-13 19:20] eligrey commented on #57
Fixed in #65

[2019-08-13 20:37] eligrey commented on #57
#65 fixes this for small files. In order to support large files in Firefox we can either look into using the above polyfill and adapter or simply wait for Firefox to gain support for the WritableStream constructor.

[2019-08-13 20:53] bencmbrook commented on #57
Is the issue that (A) neither browser supports WritableStreams and (B) FireFox has a smaller Blob size limit?

[2019-08-13 21:05] eligrey commented on #57
Yes, both A & B are issues. The issue is not a show-stopper for Safari, it just makes the demo seem much less responsive.

[2019-08-13 21:10] #57 closed

[2019-08-15 02:08] michaelfarrell76 commented on #64
eli loves localForage

[2019-08-19 21:56] #56 closed

[2019-08-21 09:30] bencmbrook commented on #44
I imagine there’s a ton of unused code in this dependency. We should first try free shaking. It’s definitely not on since webpack is in development mode https://webpack.js.org/guides/tree-shaking/

[2019-08-29 07:52] #64 closed

[2019-09-21 20:48] bencmbrook opened #72 "Use conflux for download"
https://github.com/transcend-io/conflux

[2019-09-21 23:56] michaelfarrell76 opened #73 "getTextOrURI return type strange?"
is getTextOrURI supposed to be a Promise<>[] not Promise<[]> —- this through me off during implementation

[2019-09-22 00:06] michaelfarrell76 opened #75 "Consider simple webpack plugin"
since penumbra requires some webpack config, would be nice to bundle this as a small plugin with penumbra so anyone can just import the config and have penumbra working

[2019-09-22 05:04] bencmbrook opened #76 "Support MediaStream output"
https://developer.mozilla.org/en-US/docs/Web/API/MediaStream

[2019-09-30 23:49] eligrey opened #78 "Only initialize necessary workers when needed"
We currently initialize all workers whenever any workers are needed.

[2019-10-09 00:43] #78 closed

[2019-11-13 01:33] michaelfarrell76 opened #85 "Fix travis"
iz very sad

![Screen Shot 2019-11-12 at 4 38 31 PM](https://user-images.githubusercontent.com/10264973/68725198-7d9be200-0572-11ea-8bb1-5ad9baa0f6ca.png)

[2019-12-10 19:41] michaelfarrell76 opened #92 "Firefox does not work -- need to increase coverage"
<img width="635" alt="Screen Shot 2019-12-10 at 11 40 15 AM" src="https://user-images.githubusercontent.com/10264973/70562744-d8106a00-1b41-11ea-8b74-528a29f817d1.png">

@eligrey could you please run some tests on the dev or prod environment to verify that penumbra is working in the following browsers:

- [ ] safari
- [ ] firefox
- [ ] brave

would also be great to have some tests back online for

[2019-12-10 22:28] eligrey commented on #92
We currently end up duplicating every file twice on browsers that don't support native write streams by buffering and by passing them in and out of worker threads.

I'm going to address this by using a non-worker solution for these browsers, which should halve the memory usage and decrease crashes for small files.

[2019-12-16 23:28] eligrey opened #94 "Opening some Penumbra JS files crashes VS Code TypeScript integration"
Opening Penumbra worker JS files sometimes crashes VS Code TypeScript integration. To fix this, we should port all JS to TS.

[2019-12-17 02:44] eligrey opened #95 "BrowserStack testing is flaky with Chrome"
About 1/5th of the time Chrome doesn't run any Penumbra tests and the CI needs to be re-triggered to pass.

I'm not sure if there is anything that we can do to improve this on our end.

[2020-02-27 05:25] bencmbrook opened #100 "Production webpack"
Currently defaults to development-style bundles: https://github.com/transcend-io/penumbra/blob/master/webpack.config.js

Should read NODE_ENV

<img width="498" alt="Screen Shot 2020-02-26 at 9 23 57 PM" src="https://user-images.githubusercontent.com/7354176/75414774-7f4da380-58de-11ea-9c12-9e70dd718038.png">

[2020-02-29 23:10] #100 closed

[2020-04-24 20:27] eligrey opened #106 "Multi-thread jobs & streaming improvements"
Penumbra should offer an option to use multiple job execution threads/workers for improved performance.

This will require a major refactor touching streaming, error handling, and a new job API model. Fixing this could unburden much of penumbra's tech debt.

- [x] Use an adaptive worker pool
- [x] Improve job API model

[2020-04-29 02:11] cristianocca opened #107 "Question: What's missing on Safari?"
Just wondering, are there plans to support `encrypt` on Safari? What's missing about it?

Also, what's the role of `authTag`? Which algorithms are used for encryption/decryption?  It would be great to have some docs about all that. Given the lack of encryption support on Safari, I was thinking about encrypting server side (e.g., with AES CTR + IV + Key derived from PBKDF2), but I can't seem to fin

[2020-04-29 02:13] michaelfarrell76 commented on #107
@eligrey could you add some context here?

[2020-04-29 04:21] eligrey commented on #107
Safari has some bugginess with encryption streaming that may eventually get fixed with a workaround or whenever Safari gets support for the `TransformStream` constructor.

[2020-04-29 08:46] bencmbrook commented on #107
Hey @cristianocca, currently this lib is built to support AES 256 in GCM mode. We’ll likely expand the algorithm set in the near future, but CTR mode is not yet supported. Since GCM is authenticated encryption, authTag is the cryptographic checksum used to validate that data is authentic (has not been altered). It’s created after encrypting a piece of data, and is required to decrypt that data at

[2020-04-29 13:30] cristianocca commented on #107
Hello,

Thanks for the responses, that's really helpful! It would be great to have this info on the docs as well (I'm sorry if it's there already).

Our backend is in Python so GCM may be tricky. However, we are still just researching so who knows safari might be working by then.

[2020-04-29 19:21] bencmbrook commented on #107
@cristianocca - of course! Really curious to hear about your use case! Would you mind sharing what you're building?

AES in GCM [can be done in Python with this](https://cryptography.io/en/latest/hazmat/primitives/aead/#cryptography.hazmat.primitives.ciphers.aead.AESGCM.encrypt). Note this lib appends the authTag to the output ciphertext so you'll have to split off the last 16 bytes to get your au

[2020-04-29 19:38] cristianocca commented on #107
A feature of a website we are building implements a "secure file sharing" process. Although we allow for PDF/Docx encryption (which is weak), and access is strictly provided to authenticated users, we want to add another extra layer of protection. This new layer would be full file encryption, but we don't want to know the keys or encrypt it on the server, so it would need to be 100% client side.

[2020-04-29 22:29] bencmbrook opened #108 "Support Firefox & Safari for .encrypt & .saveZip"
Conflux [uses a ponyfill](https://github.com/transcend-io/conflux/blob/5e53d10c7e44ab3db7d4b3ef8738ebc1e7436b85/src/write.js#L10) for Safari transform streams. Is this an applicable solution for Penumbra `.encrypt`?

[2020-04-29 22:30] bencmbrook opened #109 "Docs: add description of encryption algorithm"
Should document that this is built for AES 256 in the GCM mode of operation. Can also consider taking algorithm as a parameter to Penumbra.

[2020-04-29 22:32] bencmbrook commented on #107
That is awesome. That's a perfect use case for this library, especially given file sizes can be arbitrarily large.

I've broken this into two issues (#108 and #109) and will close this out in favor of those.

Let us know if you have any other issues as you work with the lib!

[2020-04-29 22:32] #107 closed

[2020-04-29 22:40] eligrey commented on #108
That may possibly help. I can spend some time next week experimenting with and evaluating our `TransformStream` workaround options.

[2020-04-29 22:56] bencmbrook commented on #108
Note: we may want to change Conflux to not overwrite the `TransformStream` variable, e.g.

[code]

[2020-04-30 16:49] cristianocca commented on #107
Thanks for the detailed answers!

One last question. What happens to Chrome in MacOS? Does it work or does it have the same issues as Safari? I'm asking this since Chrome uses webkit on macOS/iOS (if I'm not wrong), so Chrome is really just a disguised Safari on those platforms.

[2020-04-30 19:02] bencmbrook commented on #107
MacOS Chromes use Blink, but iOS Chromes still use webkit. I don't believe this has been tested in the iOS Chrome App yet - but I imagine the Safari issue would apply there.

[2020-07-17 22:58] michaelfarrell76 commented on #32
Another one that would be useful is max file size? maybe adding a large file in the demo. comparing time unencrypted vs encrypted?

[2020-07-17 23:00] michaelfarrell76 opened #120 "Repository cleanup"
Couple of things to fix:

- [x] Error indicators on README need to be fixed
- [x] Issues could be cleaned up a tiny bit

[2020-07-17 23:00] michaelfarrell76 commented on #32
customer process x number of files in whatever time, maybe map back to

[2020-07-17 23:13] michaelfarrell76 opened #121 "Diagrams for presentation"
Would be nice to outline at high level what project does. Maybe outline of default cryptography operations

[2020-07-17 23:31] michaelfarrell76 commented on #121
https://docs.google.com/document/d/1yUuZaF7PCvNGBVHeV9WQw24ek8CrUjbbyvZOKcMCggg/edit

[2020-07-18 01:07] michaelfarrell76 commented on #32
from @eligrey

[2020-07-21 22:34] bencmbrook commented on #44
https://github.com/w3c/webcrypto/issues/73

[2020-07-24 17:50] hannahhenderson commented on #106
Standup update:
- Eli's planning to pick this up today-ish

[2020-07-26 17:16] bencmbrook commented on #44
I think this will be difficult because authentication checks are done under the hood for each call to crypto.subtle.decrypt, meaning we can't perform decryption on chunks (AFAIK).

https://github.com/jedisct1/libsodium.js has a web assembly that might have a similar perf gain.

[2020-07-27 17:40] hannahhenderson opened #125 "Make a demo to illustrate Penumbra's efficacy"
This is a placeholder issue. It corresponds to this work: https://github.com/transcend-io/penumbra/pull/124

When you look at [our demo website](https://deploy-preview-124--penumbra.netlify.app/web-crypto.html), notice how much faster the 'explosions' are when you click immediately after load with Penumbra versus immediately after load with Web Crypto.

[2020-07-27 17:42] hannahhenderson commented on #106
Standup:

Lots of reading up on MDN, this is worker-heavy code.

[2020-07-28 15:55] #125 closed

[2020-08-03 15:25] bencmbrook commented on #121
Think we can close this?

[2020-08-03 15:26] bencmbrook commented on #108
Confirmed Conflux is running on Safari, FF, Chrome, Edge now!

[2020-08-03 15:28] bencmbrook commented on #85
Closing because this is stale and apparently fixed

[2020-08-03 15:28] #85 closed

[2020-08-03 15:29] bencmbrook commented on #61
Fixed (and stale)

[2020-08-03 15:29] #61 closed

[2020-08-03 15:30] bencmbrook commented on #44
Investigate whether https://www.npmjs.com/package/libsodium-wrappers can handle whatwg streams

[2020-08-05 19:43] bencmbrook opened #127 "compare vs openpgpjs"
https://github.com/openpgpjs/openpgpjs#browser

looks like you can use threads and streams?

[2020-08-06 05:57] eligrey commented on #127
It looks like openpgpjs might have everything we need: https://github.com/openpgpjs/openpgpjs/pull/430

We should do a benchmark of their threaded solution & also determine if it supports batch splitting over multiple worker threads (which we could conceivably do soon in Penumbra)

[2020-08-07 17:55] hannahhenderson commented on #106
Standup update:
- Ben or Mike will likely need to review this. Should we be getting other people up to speed in Penumbra?
- How do we normally maintain Penumbra?
  - We don't... or rather, we do in fits and spurts around Airgap
- How do we monitor when it needs fixes?
  - Right now, when it's used at a conference
- Do we keep an eye on the Issues in GH?
  - We're presenting it at SOUPS tomorrow...

[2020-08-09 22:29] #106 closed

[2020-08-11 02:18] bencmbrook opened #130 "Save to IndexedDB ("prefetch")"
Can we write decrypted streams to IndexedDB? This can be a nice way of implementing "prefetch". Files that aren't yet needed can be fetched, decrypted, put into IndexedDB, then pulled out when needed (e.g. when arriving at that page).

[2020-08-11 02:52] eligrey commented on #130
This is possible but it would massively eat into the client side storage limits. It's much more advisable for us to use the [Cache API](https://developer.mozilla.org/en-US/docs/Web/API/Cache) for manual response caching.

We can cache client-side decrypted files with a ServiceWorker in combination with the Cache API

[2020-08-11 15:08] bencmbrook commented on #130
Good point! Will close this out then

[2020-08-11 15:08] #130 closed

[2020-08-11 15:15] bencmbrook commented on #127
Looks like it only streams with unauthenticated encryption and a draft spec where every chunk is authenticated.. makes sense, WebCrypto doesn't support streaming, so it needs to check auth on every `decrypt` call (each chunk) or not at all.

[2020-08-17 17:25] #121 closed

[2020-08-17 17:55] eligrey opened #131 "Implement `penumbra.saveZip()`"
`penumbra.saveZip()` is currently unimplemented. Our goal is to implement this using [Conflux](https://github.com/transcend-io/conflux). After this is implemented, `penumbra.save()` can auto-zip when there are multiple files to save.

## Related Issues
- https://github.com/transcend-io/main/issues/3581

[2020-09-08 19:18] hannahhenderson opened #132 "Airgap MVP - Go live and cleanup"
https://github.com/transcend-io/main/milestone/67

[2020-09-08 19:19] hannahhenderson opened #133 "[Airgap 0.0.1] Telemetry"
https://github.com/transcend-io/main/milestone/69

[2020-09-08 19:20] hannahhenderson opened #134 "[Airgap 0.0.n] Beta"
https://github.com/transcend-io/main/milestone/2

[2020-09-08 19:20] hannahhenderson opened #135 "[Airgap 0.n.n] Nice-to-haves"
https://github.com/transcend-io/main/milestone/3

[2020-09-08 19:20] hannahhenderson opened #136 "[Customer Requests] August 2020"
https://github.com/transcend-io/main/milestone/39

[2020-09-08 19:22] hannahhenderson opened #137 "[Customer Requests] June 2020 and earlier"
https://github.com/transcend-io/main/milestone/22

[2020-09-08 19:22] hannahhenderson opened #138 "[Cypress] 1 - Build Cypress foundation"
https://github.com/transcend-io/main/milestone/27

[2020-09-08 19:23] hannahhenderson opened #139 "[Cypress] 2 - Add coverage for email magic link authentication configuration"
https://github.com/transcend-io/main/milestone/28

[2020-09-08 19:23] hannahhenderson opened #140 "[Customer Requests] July 2020"
https://github.com/transcend-io/main/milestone/37

[2020-09-08 19:24] hannahhenderson opened #141 "Airgap 0.0.0 (MVP) - Core"
https://github.com/transcend-io/main/milestone/1

[2020-09-08 19:24] hannahhenderson opened #142 "[Privacy Center Refactor] 1 - Establish patterns"
https://github.com/transcend-io/main/milestone/12

[2020-09-08 19:25] hannahhenderson opened #143 "[Multi-Tenant] 0 - Testing Pre-reqs"
https://github.com/transcend-io/main/milestone/5

[2020-09-08 19:29] hannahhenderson opened #144 "[Monitoring] 2 - Deliver Datadog prod access to Engineers"
https://github.com/transcend-io/main/milestone/34

[2020-09-09 23:18] hannahhenderson opened #145 "[Penumbra] Core features, usability & docs"
Maintenance for this open-source library.

[2020-10-01 07:44] michaelfarrell76 commented on #94
@eligrey can this be closed?

[2020-10-01 16:32] eligrey commented on #94
Yeah this should be safe to close

[2020-10-02 17:21] #131 closed

[2020-10-11 03:03] #94 closed

[2020-10-11 03:42] #127 closed

[2020-10-11 04:35] eligrey commented on #32
We can probably implement a useful benchmark by passing large synthetic constant-size ReadableStreams to Penumbra and recording the time that it takes to finish encrypting/decrypting the stream.

[2020-10-11 05:00] eligrey commented on #72
Fixed by https://github.com/transcend-io/penumbra/pull/148 and https://github.com/transcend-io/penumbra/pull/151

[2020-10-11 05:00] #72 closed

[2020-10-13 02:20] coreyward opened #152 "TypeError: Cannot read property 'bind' of undefined"
I think there's something wrong with the build or the instructions (maybe a dependency?). I tried to use this, but no matter what I tried I got the above error. Even just doing `import { penumbra } from '@transcend-io/penumbra';` in a webpack/React app or adding the pre-built `build/penumbra.js` to an HTML page a results in the error.

[2020-10-13 02:37] eligrey commented on #152
What browser(s) are you getting this error on?

[2020-10-13 02:44] coreyward commented on #152
Chrome 85.0.4183.121.

In Firefox 80.0.1 and 81.0.1, a quick `appendChild` results in `TypeError: o.push is undefined`.

Safari 14.0 similarly complains: `TypeError: undefined is not an object (evaluating 'o.push.bind')`

[2020-10-13 02:58] coreyward commented on #152
Hmm, actually, I'm able to get it to work fine if I just use the pre-built file in a plain HTML file that isn't being touched by Webpack. I suspect there's something unconventional happening with the way this library uses Webpack. Unfortunately I'm using a framework that doesn't provide any mechanisms for manipulating the webpack configuration: https://github.com/sanity-io/sanity

[2020-10-13 03:01] michaelfarrell76 commented on #152
is there any way for you to just copy in the penumbra files post webpack build? it's really as simple as that

our webpack plugin looks like:

[code]

where `PENUMBRA_DIRECTORY` is absolute path to the node_modules build
[code]
and `outputPath` is the compiled build.

[2020-10-13 03:10] coreyward commented on #152
@michaelfarrell76 I would need to have a separate Webpack configuration to do anything, and I'm doubtful that would work in a plugin like I'm trying to build. For context, today there is no way to securely upload files to the Sanity.io service via the open source Studio CMS. I'm working on a plugin for the Studio that that will encrypt files prior to upload (access to the uploaded assets is public

[2020-10-13 20:00] michaelfarrell76 commented on #152
let us know if you find out anything more! a bit tricky for us to help without having control over the webpack compilation but happy to address any questions you may have

[2020-10-13 20:11] coreyward commented on #152
I haven't run into this before, so I'm kind of unsure why any Webpack configuration is required. Is there something in particular that Penumbra does that means it isn't possible to build it in a way that it can be imported and used like any other package? The statically built library contains references to webpack that conflict which isn't something I would expect.

[2020-10-13 22:38] #120 closed

[2020-10-13 22:38] eligrey commented on #120
I cleaned up our issues a bit

[2020-10-13 22:42] eligrey opened #153 "Inline worker script for easier library usage"
We should inline our worker script so that the entry bundle can instantiate penumbra workers without any external URL references.

We can do this by adding a build step to compile the worker script and expose this through `process.env` (or similar) for embedding by Webpack. This embedded minified worker script could be allocated to a Blob URI at runtime and used for worker instantiation.

[2020-10-13 22:42] eligrey commented on #152
@coreyward The reason that importing penumbra is a little more involved than other packages is because we include a required web worker module.

This web worker module is not currently inlined into our entry bundle. It should be possible to inline the web worker module so that it can be loaded from a Blob URI generated at runtime from minified JS source.

I've filed an issue for this feature: http

[2020-10-13 22:50] coreyward commented on #152
@Eli Thanks for the context! That sounds like a great improvement. Any idea what sort of rough ETA we might be looking at for something like that?

[2020-10-13 22:54] eligrey commented on #152
@coreyward Also your specific error appears to be related to `window.webpackJsonp` being a truthy non-array value in your environment.

I noticed this in our generated code from Webpack:

<img width="611" alt="Screen Shot 2020-10-13 at 3 51 15 PM" src="https://user-images.githubusercontent.com/46995/95924232-0ebf9e00-0d6c-11eb-8ec3-11de7750b58c.png">

As for an ETA for inlining the penumbra worker

[2020-10-13 23:37] michaelfarrell76 commented on #153
potential solutions invole https://webpack.js.org/loaders/worker-loader/ or https://github.com/GoogleChromeLabs/comlink-loader

[2020-10-15 03:31] coreyward commented on #152
Ohhh yeah it looks like Sanity is still using Webpack 3, where `window.webpackJsonp` was a function. @kmelve Are you aware of any efforts at Sanity to update to Webpack 4+?

[2020-10-15 04:26] kmelve commented on #152
Yes! We're actually starting that work now, and I believe we're going right to 5.

[2020-10-15 16:56] eligrey commented on #92
Merging into #108

[2020-10-15 16:56] #92 closed

[2020-10-19 09:51] eligrey opened #155 "Upgrade to ESM + Snowpack + Webpack 5"
We should upgrade to Snowpack + Webpack 5 and distribute builds as ECMAScript modules. This may enable us to reference Web Worker URLs without having to [inline workers into Blob URIs](https://github.com/transcend-io/penumbra/issues/153).

Webpack 5 adds support for [this native Worker loader syntax](https://webpack.js.org/blog/2020-10-10-webpack-5-release/#native-worker-support):

[code]

[2020-10-22 03:09] eligrey commented on #155
Postponed until [Safari gains ESM Worker support](https://caniuse.com/mdn-api_worker_worker_ecmascript_modules).

[2020-10-26 08:40] eligrey opened #161 "Configurable streamsaver endpoint"
Penumbra should have an option for configuring the streamsaver HTML endpoint. This should improve security by allowing library users to self-host the endpoint instead of having to rely on our hardcoded endpoint.

[2020-10-28 04:03] eligrey opened #162 "`penumbra.saveZip()` should request unfetched resources with Background Fetch for rich download UI"
We could add an optional `resources` field onto `ZipOptions` consisting of uninitialized `RemoteResource` descriptors. A Service Worker could handle downloading these resources with Background Fetch would enables us to create rich download UIs and persistent downloads that continue when the tab is closed.

Rich download UI example screenshot:

<img width="357" alt="Screen Shot 2020-10-27 at 3 01 4

[2020-10-30 22:53] eligrey opened #164 "Update karma tests to use Safari 14 once supported by BrowserStack"
We should update our karma tests to use Safari 14 once supported by BrowserStack

[2020-10-31 02:42] #108 closed

[2020-11-09 17:32] eligrey opened #174 "`penumbra.encrypt` and `penumbra.decrypt` operations should be abortable"
Similar to `penumbra.zip`, `penumbra.encrypt` and `penumbra.decrypt` should take an optional AbortController signal so that individual long-running jobs can be cancelled.

[2021-01-26 17:15] eligrey commented on #153
This seems best solved with [Module Blocks](https://twitter.com/DasSurma/status/1353831156098150400).

[2021-02-09 16:33] dmattia commented on #16
Could we add a severity to this issue @bencmbrook or @michaelfarrell76 so we can track it under an SLA? It would be good to assign someone as well for all open `security` Issues

[2021-02-09 16:34] dmattia commented on #161
Removed the security label as this seems more like a nice-to-have than an actual security vulnerability. Feel free to re-label, assign a priority, and assign someone if you believe this is a mistake @eligrey

[2021-02-09 19:33] eligrey commented on #161
@dmattia Sure, makes sense. I went ahead and created a security-nice label for issues like these.

[2021-02-17 19:10] eligrey commented on #155
esbuild is the future, so I'm retargeting this issue for ESM + Snowpack + esbuild

[2021-02-17 19:11] eligrey commented on #155
We may also want to consider esbuild instead of Webpack 5 due to its better minification & build times.

[2021-03-07 08:54] Bumer19981 opened #181 "Uncaught (in promise) TypeError"
I installed the npm package and after calling any function from penumbra I got the error is Uncaught (in promise) TypeError: _transcend_io_penumbra__WEBPACK_IMPORTED_MODULE_2___default.a.saveZip is not a function, I tried to copy penumbra files from it's build folder to my project's build folder as the developers wrote in the manual, but still no luck. I am sorry for this "issue", because it shoul

[2021-07-24 18:43] 0michalsokolowski0 opened #189 "Webpack example"
Hello,

I spent a couple of hour trying make import work without any success. When I trying to import any function e.g. "encrypt" I am getting undefined.

Could you provide an example of usage with any Webpack based project?
In my case example with create-react-app for instance would be extremely helpful.

[2021-07-26 18:44] michaelfarrell76 commented on #189
did you see this? https://github.com/transcend-io/penumbra#webpack

[2021-07-29 13:10] 0michalsokolowski0 commented on #189
Yes, I did see this. But still I wasn't able to make it work.

[2021-07-29 13:15] 0michalsokolowski0 commented on #189
It might be enough for production build, but still how I am supposed to use it with webpack-server.
For me it is far from clear and unfortunately it make the lib unusable for me.

[2021-07-31 02:00] michaelfarrell76 commented on #189
@0michalsokolowski0 sorry to hear that! the crypto operations are quick heavy and so we had to bundle the code into a web worker which is non trivial to bundle with webpack.

i can help you debug if you share more information on the error you are seeing and the webpack config you have

[2021-08-01 16:44] 0michalsokolowski0 commented on #189
Thanks for the quick response.
My problem is pretty simple, I have an application created with CRA ([example](https://codesandbox.io/s/awesome-meadow-hzrl6)) I am trying to import `penumbra`,  then I am getting error:
`Cannot read property 'encrypt' of undefined`.

My primary issue is how to bundle the library into my app with webpack-dev-server to run it locally.
I've spent quite a lot of time tr

[2021-08-01 23:41] michaelfarrell76 commented on #189
@0michalsokolowski0 penumbra requires additional webpack/HTML setup outside of just the npm import. im not too familiar with create react app, but i was able to get it working here: https://codesandbox.io/s/cranky-browser-2mh68?file=/src/App.tsx its not the prettiest but it works!

[2021-08-01 23:46] michaelfarrell76 commented on #189
https://github.com/transcend-io/penumbra/issues/75

[2021-08-04 17:31] michaelfarrell76 commented on #189
@0michalsokolowski0 gonna close this for now since the example is there but please re-open and ping me if you cant get this to work with that example!

[2021-08-04 17:31] #189 closed

[2021-11-23 00:50] dougiefresh49 commented on #161
@eligrey is there any update on this or do you know where i could add the configuration in? Happy to help / contribute a pr.

[2021-12-29 13:00] teja42 opened #194 "Encryption example"
I see that there are lots of examples for decryption but there isn't a good example for encryption. The documentation for the encrypt function is also not great. An example for encrypt function or detailed documentation for encrypt function would be great.

[2022-01-19 10:36] rogangs2 commented on #194
Yeah, I agree with @teja42. It will be more helpful if there are encryption samples and documentation.

[2022-01-28 19:06] michaelfarrell76 commented on #194
hey @teja42 @rogangs2 sorry for the delay here, but we're adding some examples here: https://github.com/transcend-io/penumbra/pull/196/files

let us know if these are helpful!

[2022-01-28 21:28] eligrey commented on #194
API docs for penumbra.encrypt() including examples are here: https://github.com/transcend-io/penumbra#encrypt

I'm closing this issue for now. Please feel free to reach out if you'd like some more assistance in using Penumbra!

[2022-01-28 21:28] #194 closed

[2022-02-26 03:35] michaelfarrell76 commented on #152
hey @coreyward @kmelve is this still an issue for you all?

[2022-02-26 18:54] michaelfarrell76 opened #209 "Browserstack tests are flakey"
The CI tests running with karama/browserstack flake out. They simply fail to connect to browserstack and run the tests. I'd say maybe 1/5 or 1/10 times the tests run fine, especially if no one else is using browserstack.

[2022-03-12 04:22] eligrey commented on #161
@dougiefresh49 You'll be able to configure the streamsaver endpoint through `data-streamsaver-endpoint="[url]"` on the penumbra script tag once #213 merges.

[2022-03-12 15:15] yaronvhop opened #214 "Penumbra is getting high cpu usage even when not encrypting or decrypting"
Can be reproduced with a very small code on chrome 99:

[code]

[code]

Usually it uses high CPU for ~1min, but sometimes I see it going over an hour!

![image](https://user-images.githubusercontent.com/76743257/158023590-19a879d4-3440-42ed-b898-5d7029b24160.png)

On FF does not seem to happen at all.

When profiling on Chrome, all I can see is a bunch of empty "Task" in the flame chart, without a

[2022-03-12 20:36] eligrey commented on #214
Interesting. I will definitely look into this next week, as we shouldn't be doing anything in the background without jobs running.

If I had to guess, it could potentially be misreported usage due to idle worker overhead.

[2022-03-12 20:47] yaronvhop commented on #214
Hey,
I see the high CPU in Windows Task manager as well

![image](https://user-images.githubusercontent.com/76743257/158034456-c1b2ccce-d447-4c99-a4c9-2543447dbd1d.png)

In my PC 3 percent is a full core (32 threads CPU), it seems the numbers do match Chrome Task Manager, both in CPU % and in CPU time.

Thanks!

[2022-03-12 23:08] yaronvhop commented on #214
A screenshot from the profiler, a very weird empty tasks

![image](https://user-images.githubusercontent.com/76743257/158038118-51c3ed62-3177-43d9-86e4-2f32690e33ad.png)

Seems to be some internal chrome issue. I am 100% clueless
Hope you will have a better idea
Thanks again!

[2022-04-04 20:59] #161 closed

[2022-04-09 12:15] akriafly opened #215 "import { penumbra } from "@transcend-io/penumbra" does not work on vite"
I tried to import penumbra by
`import { penumbra } from "@transcend-io/penumbra"`

vite:import-analysis throw
`
 [vite] Internal server error: Failed to resolve entry for package "@transcend-io/penumbra". The package may have incorrect main/module/exports specified in its package.json: Failed to resolve entry for package "@transcend-io/penumbra". The package may have incorrect main/module/exports

[2022-06-14 03:45] bencmbrook commented on #44
https://webcrypto-streams.proposal.wintercg.org/

[2022-06-15 04:35] #215 closed

[2022-06-15 04:50] bencmbrook commented on #215
Apologies @akriafly - it looks like there was an issue with the build output of the version you're on. Upgrading to 5.3.0 should fix!

[2022-06-22 05:12] #155 closed

[2022-06-22 17:27] eligrey commented on #214
This issue seems to be gone in Chrome 103 with [Penumbra 6.0](https://github.com/transcend-io/penumbra/pull/229)

[2022-06-22 17:27] #214 closed

[2022-07-26 05:18] jonmchan opened #230 "Penumbra Form File Input Support"
I was slightly surprised that penumbra did not work out of the box with an HTML file input field:

[code]

[code]

This would error out with the following:

    return;
    const buffer = await file.arrayBuffer();
    const stream = new Response(buffer).body;
    const penumbraFile = {
      stream,
      size: file.size,
    };

    //const [encrypted] = await penumbra.encrypt(options, penumbraFi

[2022-07-26 05:41] eligrey commented on #230
We could definitely auto detect and convert the File format to improve the developer experience here. Stay tuned for changes soon!

[2022-07-27 18:08] jonmchan opened #231 "setWorkerLocation Refreshing Page with Penumbra Error with Workers"
I have successfully got files encrypting and decrypting with Penumbra. However, when I refresh the page many times, I occasionally get the following error:

[code]

I isolated the error to happening when I call:

[code]

If I run it several times, I see the following progression in console:

1. No message
1. Penumbra Workers are already active. Reinitializing...
1. Then the error.

If I don't incl

[2022-07-27 20:05] michaelfarrell76 commented on #231
@eligrey any idea?

[2022-07-27 20:41] eligrey commented on #231
It sounds like this line is throwing during worker job dispatching: https://github.com/transcend-io/penumbra/blob/main/src/workers.ts#L183

I would guess that thev workers were somehow not instantiated in time for this error to happen. We'll be looking into this issue soon.

[2022-07-28 14:31] jonmchan commented on #231
Is there any way to check on the worker status? It seems that the exposed functions are very limited. Is there an event that is fired when the workers are ready or something to query the workers? With the compiled code, can I access the worker.ts code from es6 import?

[2022-07-30 01:10] eligrey commented on #231
Note that we currently require that `penumbra.setWorkerLocation(...)` is the first API call before using our other APIs. Are you calling this API first?

Initialization status cannot currently be queried, and should not matter in most use cases as jobs should still be enqueued automatically as workers become available.

Any ES6 platform with Web Workers should be able to use this library or import

[2022-07-31 01:54] jonmchan commented on #231
I'm almost certain turbo (https://github.com/hotwired/turbo-rails) is interfering with this and persisting something that is causing this issue. I'll try disabling it and see if it still happens.

[2022-10-13 06:02] michaelfarrell76 commented on #231
@jonmchan any luck?

[2022-10-25 16:13] jonmchan commented on #231
thanks for following up - hadn't had a chance to work on the project I'm using penumbra on lately. I should be getting back to it this week. Should have updates soon.